In [22]:
import pandas as pan
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
Data_of_movies = pan.read_csv('/content/movies_dataset_5k.csv')
Data_of_movies.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [24]:
Data_of_movies.shape

(4803, 24)

In [105]:
Features_selected = ['genres','keywords','tagline','cast','director']
print(Features_selected)

['genres', 'keywords', 'tagline', 'cast', 'director']

In [106]:
for Feature in Features_selected:
  Data_of_movies[Feature] = Data_of_movies[Feature].fillna('')

In [107]:
Features_combined=Data_of_movies['genres']+' '+Data_of_movies['keywords']+' '+Data_of_movies['tagline']+' '+Data_of_movies['cast']+' '+Data_of_movies['director']
print(Features_combined)

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4798    Action Crime Thriller united states\u2013mexic...
4799    Comedy Romance  A newlywed couple's honeymoon ...
4800    Comedy Drama Romance TV Movie date love at fir...
4801      A New Yorker in Shanghai Daniel Henney Eliza...
4802    Documentary obsession camcorder crush dream gi...
Length: 4803, dtype: object

In [108]:
Vectorize = TfidfVectorizer()
Vectors_of_features = Vectorize.fit_transform(Features_combined)
print(Vectors_of_features)

  (0, 2432)	0.17272411194153
  (0, 7755)	0.1128035714854756
  (0, 13024)	0.1942362060108871
  (0, 10229)	0.16058685400095302
  (0, 8756)	0.22709015857011816
  (0, 14608)	0.15150672398763912
  (0, 16668)	0.19843263965100372
  (0, 14064)	0.20596090415084142
  (0, 13319)	0.2177470539412484
  (0, 17290)	0.20197912553916567
  (0, 17007)	0.23643326319898797
  (0, 13349)	0.15021264094167086
  (0, 11503)	0.27211310056983656
  (0, 11192)	0.09049319826481456
  (0, 16998)	0.1282126322850579
  (0, 15261)	0.07095833561276566
  (0, 4945)	0.24025852494110758
  (0, 14271)	0.21392179219912877
  (0, 3225)	0.24960162956997736
  (0, 16587)	0.12549432354918996
  (0, 14378)	0.33962752210959823
  (0, 5836)	0.1646750903586285
  (0, 3065)	0.22208377802661425
  (0, 3678)	0.21392179219912877
  (0, 5437)	0.1036413987316636
  :	:
  (4801, 17266)	0.2886098184932947
  (4801, 4835)	0.24713765026963996
  (4801, 403)	0.17727585190343226
  (4801, 6935)	0.2886098184932947
  (4801, 11663)	0.21557500762727902
  (4801, 1672)	0.1564793427630879
  (4801, 10929)	0.13504166990041588
  (4801, 7474)	0.11307961713172225
  (4801, 3796)	0.3342808988877418
  (4802, 6996)	0.5700048226105303
  (4802, 5367)	0.22969114490410403
  (4802, 3654)	0.262512960498006
  (4802, 2425)	0.24002350969074696
  (4802, 4608)	0.24002350969074696
  (4802, 6417)	0.21753405888348784
  (4802, 4371)	0.1538239182675544
  (4802, 12989)	0.1696476532191718
  (4802, 1316)	0.1960747079005741
  (4802, 4528)	0.19504460807622875
  (4802, 3436)	0.21753405888348784
  (4802, 6155)	0.18056463596934083
  (4802, 4980)	0.16078053641367315
  (4802, 2129)	0.3099656128577656
  (4802, 4518)	0.16784466610624255
  (4802, 11161)	0.17867407682173203

In [109]:
Similarity_Score_of_movie = cosine_similarity(Vectors_of_features)
print(Similarity_Score_of_movie)
print("\nSimilarity Shape: ",Similarity_Score_of_movie.shape)

[[1.         0.07219487 0.037733   ... 0.         0.         0.        ]
 [0.07219487 1.         0.03281499 ... 0.03575545 0.         0.        ]
 [0.037733   0.03281499 1.         ... 0.         0.05389661 0.        ]
 ...
 [0.         0.03575545 0.         ... 1.         0.         0.02651502]
 [0.         0.         0.05389661 ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.02651502 0.         1.        ]]

Similarity Shape:  (4803, 4803)

In [110]:
Name_of_movie_searched=input("Enter the movie name to be searched: \n")

All_movie_titles = Data_of_movies['title'].tolist()

Close_matches = difflib.get_close_matches(Name_of_movie_searched, All_movie_titles)

Closest_match = Close_matches[0]

Index_of_movie = Data_of_movies[Data_of_movies.title == Closest_match]['index'].values[0]

Data_Enumeration=enumerate(Similarity_Score_of_movie[Index_of_movie])
Name_of_similar_movie = list(Data_Enumeration)

Sorted_names_of_similar_movies = sorted(Name_of_similar_movie, key=lambda x:x[1], reverse=True)

print("\n====================================================================")
print("                SIMILAR MOVIES RECOMMENDED FOR YOU ")
print("====================================================================")
i=1
for Movie_name in Sorted_names_of_similar_movies:
  Movie_index = Movie_name[0]
  Title_of_the_movie_from_index = Data_of_movies[Data_of_movies.index==Movie_index]['title'].values[0]
  if (i<16):
      print(i,' . ',Title_of_the_movie_from_index)
      i+=1
print("====================================================================")

Enter the movie name to be searched:
avatar

====================================================================
                SIMILAR MOVIES RECOMMENDED FOR YOU
====================================================================
1  .  Avatar
2  .  Alien
3  .  Aliens
4  .  Guardians of the Galaxy
5  .  Star Trek Beyond
6  .  Star Trek Into Darkness
7  .  Galaxy Quest
8  .  Alien³
9  .  Cargo
10  .  Trekkies
11  .  Gravity
12  .  Moonraker
13  .  Jason X
14  .  Pocahontas
15  .  Space Cowboys
====================================================================